<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="/static/login.css" />
  </head>
  <body>
    <div class="wrapper">
      <a
        href="{{ url_for('frontpage') }}"
        type="button"
        class="close"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </a>
      {# Flashing message start here #} {% with messages =
      get_flashed_messages(with_categories=true) %} {% if messages %}
      <div class="flashes">
        {% for category, message in messages %}
        <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %} {% endwith %} {# Flashing message ends here #}
      <form method="post" id="loginForm">
        {{ form.hidden_tag() }}
        <h2>Login</h2>
        <div class="input-field">
          {{ form.email }}
          <label>Enter your email</label>
        </div>
        <div class="input-field">
          {{ form.password }}
          <label>Enter your password</label>
          <i class="eye-icon" id="togglePassword"></i>
        </div>
        <div>{{ form.submit }}</div>
        <div class="forget">
          <label for="remember">
            <input type="checkbox" id="remember" />
            <p>Remember me</p>
          </label>
          <a href="{{ url_for('commail') }}">Forgot password?</a>
        </div>
        <div class="register">
          <p>
            Don't have an account?
            <a href="{{ url_for('signup') }}">Register</a>
          </p>
        </div>
      </form>
    </div>
    <div id="overlay" class="overlay"></div>
  </body>
</html>
